
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">"Password recovery"</h3></div>
                                <div class="card-body">
                                    <div class="small mb-3 text-muted">"Enter your email address and we will send you your new password."</div>
                                    <form action="@Url.Action("Reset","Access")" method="post">

                                        <div class="form-floating mb-3">
                                            <input class="form-control" name="email" type="email" autocomplete="off"/>
                                            <label for="inputEmail">Email</label>
                                        </div>
                                        @{ 
                                            if(ViewBag.Error != null)
                                            {
                                                <div class="form-floating mb-3">
                                                    <div class="alert alert-danger" role="alert">
                                                        @ViewBag.Error
                                                    </div>
                                                </div>           
                                            }
                                        }
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" href="@Url.Action("Index","Access")">Return to Login</a>
                                            <button class="btn btn-primary" type="submit">Reset password</button>
                                        </div>
                                    </form>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                </div>
            </main>
        </div>   
    </div>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
</body>
</html>
